body{
    margin: 0;

    padding: 0;

    background-color: beige;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin: 0;
}
.container {
    width: 1000px;

    margin: 0 auto;

    background-color: white;

    padding: 0 20px;
}

.main__chat {
    display: flex;

    flex-direction: column;

    align-items: stretch;

    background-color: beige;
}

.header__chat {
    padding: 5px 10px;

    border-radius: 0px 0px 10px 10px;

    height: 40px;

    border: cornflowerblue 2px solid;

    border-top: none;

    box-sizing: border-box;

    display: flex;

    align-items: center;

}
.block__information {
    display: flex;
    
    width: 120px;
    
    justify-content: flex-end;
}
.header__chat img {
    width: 50px;
}

.header__chat h3 {
    margin: 0 0 0 10px;
}
.more_text{
    margin: 0 0 0 10px;
}

.chat__item {
    height: calc(100vh - 150px);
    
    background: url(image.jpg) silver;
    
    margin: 5px 0;
    
    border-radius:10px;
    
    justify-content: flex-end;
    
    padding: 10px 20px;
    
    overflow-y: auto;
}

.massege__item{
    width: 700px;
    
    background-color:white;
    
    border: solid silver 2px;
    
    border-radius: 10px;
    
    margin: 10px 0 0 0;
}
.header__massege p {
    color: rgb(33, 33, 212);
}

.footer__chat {
    height: 80px;
    
    border-radius: 10px 10px 0 0;
    
    display: flex;
    
    align-items: center;
    
    border: cornflowerblue 2px solid;
    
    box-sizing: border-box;
    
    border-bottom:none;
    
    padding: 10px;
}

.footer__chat button{
    padding: 10px 30px;
    
    border-radius:20px;
    
    background: none;
    
    border: 1.5px blue solid;
    
    cursor: pointer;
}

.footer__chat button:active{
    border: 2px blue solid;
}


.footer__chat button:focus {
    outline: none;
}

.header__massege {
    display: flex;

    justify-content: space-between;

    padding: 8px 10px 0px;
}
.login__name {
    color: black;

    text-decoration: none;

    font-weight: bold;

    font-size: 22px;

    margin:0 0 0 10px;
}


.body__massege {
    min-height: 40px;

    padding: 8px 10px 8px;

    display: flex;

    align-items: center;
}

.joke__text {
    margin:  0 0 0 10px;
}

#masseng__textarea{
    display: block;

    width:90%;

    resize:none;

    height: 60px;

    margin-right: 20px;
}